body {
  margin: 0;
  background-color: #000;
  color: white;
  font-family: 'Fira Mono', monospace;
}

.navbar {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.logo a {
  font-size: 26px;
  text-decoration: none;
  color: white;
}

.logo .red {
  color: red;
}

.logo .bold {
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}

nav li a {
  color: white;
  text-decoration: none;
  font-style: italic;
}

.error-box {
  background-color: #0b0b0b;
  text-align: center;
  padding: 60px 20px 40px;
  margin: 40px 60px;
  border-radius: 10px;
  position: relative;
}

.error-box h1 {
  font-size: 120px;
  color: #e5d3ff;
  text-shadow: 2px 2px 0 #6c2bff;
  margin: 0;
}

.error-box .subtitle {
  font-size: 24px;
  font-style: italic;
  margin-top: -15px;
  margin-bottom: 40px;
}

.error-box img {
  width: 100%;
  max-width: 640px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(255, 0, 255, 0.1);
}

.error-box .desc {
  margin-top: 40px;
  font-size: 20px;
  color: #a380ff;
}

footer {
  background-color: #111;
  color: #ccc;
  padding: 40px 60px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-left img {
  height: 40px;
  margin-bottom: 10px;
}

.footer-left p {
  font-size: 14px;
}

.footer-right img {
  max-width: 240px;
  height: auto;
  border-radius: 8px;
}
